@import '_variables';

body {
    position: relative;
    font-size: 16px;
    line-height: 1.8;
}

.widget-card {
    background-color: $primary-bg;
    border-radius: $border-radius;
    overflow: hidden;
}

#section {
    float: right;
    width: calc(100% - 320px);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#close {
    position: fixed;
    top: 10px;
    right: 35px;
    z-index: 99999;
    a {
        color: $text-active-color;
        font-size: 30px;
    }
}

#common-menu {
    border-radius: 10px;
    box-shadow: none;
    background-color: $primary-bg;
    padding: 10px 5px;

    span {
        cursor: pointer;
        font-weight: 700;
        line-height: 1;
        border-radius: 8px;
        padding: 8px 18px !important;
        margin: 0 5px;
        white-space: nowrap;
        display: inline-block;
        color: $text-active-color;
        background-color: $primary-color;
    }
}

#paginator {
    position: relative;
    text-align: center;
    margin: 20px 0 5px;

    & > * {
        display: inline-block;
        margin: 0 6px;
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-radius: 8px;
        text-align: center;
        cursor: pointer;
    }

    & > :not(.space) {
        border: 1px solid #e0e3ed;
    }

    .page-number:hover {
        background: $primary-color;
        color: $text-active-color;
    }

    .page-number.current {
        background: $primary-color;
        color: $text-active-color;
    }

    .extend {
        width: 4rem !important;
        position: absolute;
        right: 0;
        margin: 0;

        &:hover {
            background: $primary-color;
            color: $text-active-color;
        }
    }

    .extend.prev {
        left: 0;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Xc Font', 'PingFang SC', 'Noto Serif SC', 'Hiragino Sans GB', 'Fira Mono', 'Microsoft YaHei', Arial, sans-serif;
    outline: none;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $text-defaulr-color;

    &:hover, &:active {
        color: $primary-color;
    }
}

img {
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

::selection {
    background: #2d2f32;
    color: $text-active-color;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: $border-radius;
    background-clip: padding-box;
    background-color: rgb(84, 181, 219);
    background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.4) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 75%,transparent 0,transparent);
}

::-webkit-scrollbar-track {
    background: rgba(51, 51, 51, 0.1);
}

input[type=text], input[type=url], input[type=email], input[type=tel], input[type=password], input[type=search], textarea {
    border: 1px solid rgba(0, 0, 0, .05);
    width: 100%;
    padding-left: 1em;
    padding-right: 0.6em;
}
button, input, textarea {
    -webkit-appearance: none !important;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

cite, i {
    font-style: normal;
}

pre {
    border-radius: 5px
}

blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc;
    padding: 0.5em 10px;
    margin: 20px 0;
}

blockquote p {
    display: inline;
}

/* 标题,目录...不可选中 */
h1, h2, h3, h4, h5, h6, .line, footer, #toc, time, #subtitle.h2, .nav-link, .post-meta.mr-2, #busuanzi_container_page_pv, .note, .hover-with-bg {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}