@import '_variables';

#sidebar_tool
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    bottom: 90px;
    right: 30px;
    opacity: 1;
    transition: all 1s ease 0s;
    overflow: hidden;

    .tool_item
        width: 40px;
        height: 40px;
        color: $text-active-color;
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        cursor:pointer;
        border-radius:4px;