footer#footer
    .container.footer
        .footer_left
            span.footer_text 哪有什么天生如此，只是我们天天坚持 © 2023
        .footer_right
            span Powered by
            a(href='https://hexo.io/') Hexo
            span | Theme
            a(href='https://github.com/itsatan/hexo-theme-mcolor') Mcolor